.container {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

.content {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    padding: 10px;
    padding-bottom: 400px;
}

.center-align {
    margin: 12px 0;
    display: flex;
    justify-content: center;
}

.dot {
    width: 8px;
    height: 8px;
    padding: 4px;
    margin: 4px 16px;
    background-color: #aaaaaa;
    border-radius: 50%;
    cursor: pointer;
}

.dot-selected {
    background-color: #34312d;
}

.puzzle-section {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.puzzle-left-section {
    width: 66%;
    margin-right: 30px;
}

.puzzle-right-section {
    width: 33%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 15px;
}

h1 {
    margin: 40px;
    text-align: center;
}

.feature-products-container,
.offer-products-container {
    display: flex;
}

.center-align-hv {
    flex: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.filler {
    flex: 1;
    display: block;
    position: relative;
    height: 750px;
}

.filler-row {
    display: flex;
    margin-bottom: 24px;
}

.modal-content {
    position: absolute;
    width: 400px;
    height: 348px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 4px;
}

.modal-header {
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    padding: 20px 30px;
}

.modal-footer {
    text-align: right;
    border-top: 1px solid #ddd;
    padding: 14px 30px;
}

.input-field {
    display: block;
    padding: 16px 0;
}

.most-popular {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.product-card-container {
    position: relative;
    margin: 0 12px;
    flex: 1;
}

.product-card-container:first-child {
    margin-left: 0;
}

.product-card-container:last-child {
    margin-right: 0;
}

.product-card {
    min-width: 330px;
    height: 363px;
}

.product-card-container:hover .product-overlay {
    display: block;
}

.product-overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    background-color: rgba(0,0,0,0.3);
}
